body {

    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.menu * {
  box-sizing: border-box;
}
.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}


.menu a {
  padding: 0.5em 0;
  color: white;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.menu a:before,
.menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%; 
  content: "";
  background-color: #cd2222;
}
.menu a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;

  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.menu a:hover:before,
.menu .current a:before {
 
  width: 100%;
}
.menu a:hover:after,
.menu .current a:after {
  max-width: 100%;
}


/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
} 

